{% extends "IbtikarShareEconomyDashboardDesignBundle:Layout:not_loggedin.html.twig" %}

{% block title %}{% trans %}Retrieve my password{% endtrans %}{% endblock %}

                        {% block body %}
                                 <form class="dev-js-validation" method="POST">
                                     {% if error %}
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="alert alert-danger no-border">
                                            <button data-dismiss="alert" class="close" type="button"><span>×</span><span class="sr-only">Close</span></button>
                                            {{ error }}
                                        </div>

                                    </div>
                                </div>
                            {% endif %}

                            {% if success %}
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="alert alert-success no-border">
                                            <button data-dismiss="alert" class="close" type="button"><span>×</span><span class="sr-only">Close</span></button>
                                            {{ success }}
                                        </div>

                                    </div>
                                </div>
                            {% endif %}




                            <div class="form-group  has-feedback{% if form.loginCredentials.vars.errors|length > 0 %} has-error{% endif %}">
{#                                {{ form_label(form.loginCredentials, null, {'label_attr': {'class': 'placeholder-hidden'} }) }}#}
                                {{ form_widget(form.loginCredentials, {'attr': {'class': 'form-control', 'autofocus': '', 'tabindex': 1, 'placeholder': 'email'|trans({}, 'staff')} }) }}
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                                {{ form_errors(form.loginCredentials) }}
                            </div> <!-- /.form-group -->




                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">{% trans  %}Retrieve my password{% endtrans %} <i class="icon-circle-left2 position-right"></i></button>
                            </div>
                        </div>
                            {{ form_end(form) }}
    
{% endblock %}

{% block javascripts %}
    {{ parent()}}

    <script src="{{ asset('bundles/ibtikarglancedashboard/js/plugins/jquery-validation/jquery.validate.min.js')}}"></script>
    <script src="{{ asset('bundles/ibtikarglancedashboard/js/plugins/jquery-validation/additional-methods.min.js')}}"></script>
    <script src="{{ asset('bundles/ibtikarglancedashboard/js/plugins/jquery-validation/messages_ar.js')}}"></script>
    <script src="{{ asset('bundles/ibtikarglancedashboard/js/backend.js') }}"></script>

    <script src="{{ asset('bundles/ibtikarglancedashboard/js/validation.js')}}"></script>
    <script>
        var availableMessage = '{% trans %}valid{% endtrans %}';
        var unAvailableMessage = '{% trans %}not valid{% endtrans %}';

    </script>
{% endblock %}