{% extends '::base.html.twig' %}

{% block title %}{% trans %}Retrieve my password{% endtrans %}{% endblock %}

{% block meta %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
  <!-- Favicons AND TOUCH ICONS   -->
    <link rel="icon" href="{{ asset('bundles/ibtikarglancedashboard/assets/images/'~style_Sheet_name~'/favicon.ico')}}">
    <link rel="apple-touch-icon" href="{{ asset('bundles/ibtikarglancedashboard/assets/images/'~style_Sheet_name~'/apple-touch-icon.png')}}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('bundles/ibtikarglancedashboard/assets/images/'~style_Sheet_name~'/apple-touch-icon-76x76.png')}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('bundles/ibtikarglancedashboard/assets/images/'~style_Sheet_name~'/apple-touch-icon-120x120.png')}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('bundles/ibtikarglancedashboard/assets/images/'~style_Sheet_name~'/apple-touch-icon-152x152.png')}}">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">



    <!-- Global stylesheets -->
    <link href="{{ asset('bundles/ibtikarglancedashboard/assets/css/icons/icomoon/styles.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/ibtikarglancedashboard/assets/css/bootstrap.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/ibtikarglancedashboard/assets/css/core.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/ibtikarglancedashboard/assets/css/components.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/ibtikarglancedashboard/assets/css/colors.css')}}" rel="stylesheet" type="text/css">

    <!-- /global stylesheets -->

    <link href="{{ asset('bundles/ibtikarglancedashboard/assets/css/custom.css')}}" rel="stylesheet" type="text/css">

    <link href="{{ asset('bundles/ibtikarglancedashboard/assets/css/'~style_Sheet_name~'.css')}}" rel="stylesheet" type="text/css">




{% endblock %}
{% block body %}

    <div class="login-container bg-slate-800">

        <!-- Page container -->
        <div class="page-container loginPage">

            <!-- Page content -->
            <div class="page-content">

                <!-- Main content -->
                <div class="content-wrapper">

                    <!-- Password recovery -->
                    <form class="dev-js-validation" method="POST">
                        <div class="panel panel-body login-form">

                            <div class="text-center loginLogo">

                                <img src="{{ asset('bundles/ibtikarglancedashboard/assets/images/'~ style_Sheet_name ~'/login-logo.png')}}" alt="glance" class="img-responsive"/>
                            </div>
                            {% if error %}
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="alert alert-danger no-border">
                                            <button data-dismiss="alert" class="close" type="button"><span>×</span><span class="sr-only">Close</span></button>
                                            {{ error }}
                                        </div>

                                    </div>
                                </div>
                            {% endif %}

                            {% if success %}
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="alert alert-success no-border">
                                            <button data-dismiss="alert" class="close" type="button"><span>×</span><span class="sr-only">Close</span></button>
                                            {{ success }}
                                        </div>

                                    </div>
                                </div>
                            {% endif %}




                            <div class="form-group  has-feedback{% if form.loginCredentials.vars.errors|length > 0 %} has-error{% endif %}">
{#                                {{ form_label(form.loginCredentials, null, {'label_attr': {'class': 'placeholder-hidden'} }) }}#}
                                {{ form_widget(form.loginCredentials, {'attr': {'class': 'form-control', 'autofocus': '', 'tabindex': 1, 'placeholder': 'email'|trans({}, 'staff')} }) }}
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                                {{ form_errors(form.loginCredentials) }}
                            </div> <!-- /.form-group -->




                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">{% trans  %}Retrieve my password{% endtrans %} <i class="icon-circle-left2 position-right"></i></button>
                            </div>
                        </div>
                            {{ form_end(form) }}
                    <!-- /password recovery -->

                </div>
                <!-- /main content -->

            </div>
            <!-- /page content -->

        </div>
        <!-- /page container -->

        <!-- Core JS files -->
    </div>
{% endblock %}

{% block javascripts %}
    <!-- Core JS files -->

    <script type="text/javascript" src="{{ asset('bundles/ibtikarglancedashboard/assets/js/plugins/loaders/pace.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarglancedashboard/assets/js/core/libraries/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ibtikarglancedashboard/assets/js/core/libraries/bootstrap.min.js')}}"></script>

    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script type="text/javascript" src="{{ asset('bundles/ibtikarglancedashboard/assets/js/plugins/forms/styling/uniform.min.js')}}"></script>


    <script src="{{ asset('bundles/ibtikarglancedashboard/js/plugins/jquery-validation/jquery.validate.min.js')}}"></script>
    <script src="{{ asset('bundles/ibtikarglancedashboard/js/plugins/jquery-validation/additional-methods.min.js')}}"></script>
    <script src="{{ asset('bundles/ibtikarglancedashboard/js/plugins/jquery-validation/messages_ar.js')}}"></script>
    <script src="{{ asset('bundles/ibtikarglancedashboard/js/backend.js') }}"></script>

    <script src="{{ asset('bundles/ibtikarglancedashboard/js/validation.js')}}"></script>
    <script>
        var availableMessage = '{% trans %}valid{% endtrans %}';
        var unAvailableMessage = '{% trans %}not valid{% endtrans %}';
        $(function () {

            // Style checkboxes and radios
            $('.styled').uniform();

        });
    </script>
{% endblock %}